<div class="main-page-container">
  <div class="header-container">
    <div class="header-actions">
      <div class="flex-row">
        <div class="search-sequence-name">
          <mat-form-field appearance="outline" class="search-form">
            <input matInput (keyup)="search()" placeholder="Search by sequence name" [(ngModel)]="searchText" autocomplete="off">
            <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchText()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button class="main-page-button" (click)="openAddSequenceDialog.emit()">Add DNA sequence</button>
        </div>
        <div>
          <input type="file" id="file-upload" #file style="display: none" accept="application/JSON">
          <button mat-raised-button class="main-page-button" (click)="file.click()">
            Upload sequence from file</button>
        </div>
        <div>
          <button mat-raised-button class="main-page-button" (click)="exportToCsv()">Export table to CSV</button>
        </div>
      </div>
    </div>
  </div>
    <mat-card class="card">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Sequence Name </th>
            <td mat-cell *matCellDef="let sequence" (click)="selectSequenceInspect(sequence)"> {{sequence.sequenceName}} </td>
          </ng-container>
        
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let sequence" (click)="selectSequenceInspect(sequence)"> {{sequence.sequenceDescription}} </td>
          </ng-container>
        
          <!-- Sequence Column -->
          <ng-container matColumnDef="sequence" class="sequence-column">
            <th mat-header-cell *matHeaderCellDef> Sequence </th>
            <td mat-cell *matCellDef="let sequence"(click)="selectSequenceInspect(sequence)"> {{sequence.sequence}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card>
</div>